<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.global.ex.mapper.UserMapper">

	<!-- DB테이블 하고 VO객체를 매핑, 조인이니까 resultMap사용함 -->
	<resultMap id="userMap" type="UserVO">
		<result property="username" column="username" /> <!-- userVO의 속성인 getUsername()하고 DB테이블의 컬럼인 username이 매핑됨 -->
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="authMap"></collection> 
	</resultMap>
			<!-- 리스트는 콜랙션으로 만들어서 위+밑에랑 맞춰줌 1:N매핑방법 -->
	<resultMap id="authMap" type="AuthVO">
		<result property="username" column="username" />
		<result property="authority" column="authority" />
	</resultMap>

	<select id="getUser" resultMap="userMap"> <!-- 부모매퍼인터페이스를 구현한거임 -->
		select * from users , authorities
		where users.username = authorities.username and users.username = #{username}
		
	</select>





</mapper>